!! GENERAL
Xcursor.size: 32
URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.internalBorder: 15
URxvt.cursorUnderline: false
URxvt.cursorBlink: true
URxvt.allowBold: false
URxvt.iconFile: /home/asuka/.icons/terminal.svg

!! Enabling clickable links.
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
URxvt.url-launcher:     /usr/bin/google-chrome-stable

!! FONT
urxvt*font: 	xft:lucy tewi:pixelsize=11,\
		-mplus-goth_p-medium-*-*-*-*-*-*-*-*-*-*-*,\
		-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1

urxvt*boldFont: xft:lucy tewi:style=Bold,pixelsize=11,\
		-mplus-goth_p-bold-*-*-*-*-*-*-*-*-*-*-*,\
		-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1

! COLOR SCHEME
! black > red > green > yellow > blue > magenta > cyan > white
#define black0                    #373E4D
#define black1                    #3B4252
#define black2                    #434C5E
#define black3                    #4C566A
#define red0                      #FA5AA4
#define red1                      #FA74B2
#define green0                    #2BE491
#define green1                    #44EB9F
#define yellow0                   #FA946E
#define yellow1                   #FAA687
#define blue0                     #63C5EA
#define blue1                     #7ACBEA
#define magenta0                  #CF8EF4
#define magenta1                  #D8A6F4
#define cyan0                     #89CCF7
#define cyan1                     #A1D5F7
#define white0                    #EDFEFE
#define white1                    #E7F7F7

*.foreground:                     white0
*.background:                     black0
*.cursorColor:                    white0
*borderColor:			  black0
!*fading:                          35
!*fadeColor:                       black2

*.color0:                         black0
*.color1:                         red0
*.color2:                         green0
*.color3:                         yellow0
*.color4:                         blue0
*.color5:                         magenta0
*.color6:                         cyan0
*.color7:                         white0

*.color8:                         black3
*.color9:                         red1
*.color10:                        green1
*.color11:                        yellow1
*.color12:                        blue1
*.color13:                        magenta1
*.color14:                        cyan1
*.color15:                        white1
